<script id="song-index" type="text/template">
    <ul>
        <% _(songs).each(function(song){ %>
            <li class="song-listing">
                <a id="<%=song.elementId%>" class="song-link" href="/<%=song.filename%>"><%=song.name%></a>
                <div class="song-spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div class="song-holder"></div>
            </li>
        <% }); %>
    </ul>
</script>